body{
  /*background-color: black;*/
}

.NAV{
  background-color: black;
  border-color: black;
}

.title{
  /*text-align: center;*/
  font-size: 40px;
}

#contact{
  text-align: center;
  font-size: 58px;
}
